@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Krona+One:regular');

@font-face {
    font-family: cardFont;
    src: url(./Fonts/OCR\ A\ Std\ Medium.otf);
}

*,
p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* outline: .5px solid green; */
}


html,
body {
    scroll-behavior: smooth;
    width: 100%;
    background-color: #FCFCFC;
    overflow-x: hidden;
}

body {
    position: relative;
    margin-bottom: 290px;
    border: none;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.083);
}

button {
    cursor: pointer;
}

.slider {
    margin-top: 100px;
}

.navi {
    padding: 0 20px;

}


.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    z-index: 4;
    transform: translateX(-50%);
    left: 50%;
}

.glass {
    width: 100%;
    height: 70px;
    position: fixed;
    background: rgba(255, 255, 255, 0.739);
    border-radius: 0 0 16px 16px;
    z-index: 3;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.center-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0;
}

.center-nav li a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.search-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-div {
    position: relative;
    margin-right: 20px;
}

.search-div i {
    position: absolute;
    left: 20px;
    bottom: 25px;
}

.head-icons {
    display: flex;
    gap: 50px;
}

.search-div input {
    width: 100%;
    max-width: 253px;
    height: 28px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
}

.page-title {
    margin-top: 90px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 14px;
}

.page-title p span {
    margin: 0 10px;
    cursor: pointer;
}

.delivery-main {
    display: flex;
    justify-content: space-around;
}

.add {
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 540px;
    margin-bottom: 30px;
    margin: 30px 0;
}


.h-add {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

.homei {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 40px;
    background-color: #FFFAE0;
    color: #FFCF6D;
    border-radius: 50%;
    margin-right: 10px;


}

.t-add {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.504);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.152);
}

.add-name {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.156);
    justify-content: space-between;
    padding: 20px;
}

.l-add {

    display: flex;
    gap: 10px;
    align-items: center;
}

.r-add {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0A77F6;
    font-weight: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.total {
    border: 2px solid black;
    border-radius: 8px;
    margin: 30px 0;
    padding: 40px 90px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 10px;
}

.sub-total {
    display: flex;
    gap: 120px;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid black;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-main {
    margin-left: 50px;
}

.pay-type {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    height: 40px;
}

.btn {
    background-color: #cbfee0;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
}

.active {
    border: 2px solid #32C770;
    box-shadow: 0 0 5px 3px #32c77040;
}

form {
    margin-top: 20px;
}

input {
    background-color: transparent;
    width: 400px;
    height: 63px;
    border: 2px solid #ACACAC;
    border-radius: 13px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.half {
    width: 150px;
}

.exp {
    display: flex;
    justify-content: space-between;

}

.pay-btn {
    width: 400px;
    height: 63px;
    font-weight: 600;
    background-color: #32C770;
    border-radius: 13px;
    color: #FCFCFC;
    border: none;
    font-size: 20px;
    margin-top: 20px;

}

.card {
    background-image: linear-gradient(360deg, #FF930F, #FFF95B);
    width: 560px;
    height: 350px;
    border-radius: 14px;
    margin: 50px;
    position: relative;
    overflow: hidden;
    color: white;
    box-shadow: -18px 11px 30px rgba(0, 0, 0, 0.106);
}

.world {
    position: absolute;
    left: -100px;
    top: -150px;
}

.visa {
    position: absolute;
    right: 70px;
    top: 50px;
    transform: scale(1.5);
}

#card-num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 3px;
    width: 505px;
    font-family: cardFont;
    font-size: 36px;

}

.due {
    display: flex;
    justify-content: space-between;
    width: 560px;
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding: 0 20px;

}

.due p {
    font-family: cardFont;
    margin-bottom: 5px;
    opacity: 75%;
}

.desc {
    color: #ACACAC;
    font-size: 14px;
}

.pay {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin-top: 30px;

}

.lab {
    margin-bottom: 15px;
}

.cod-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.extra {
    padding: 5px 20px;
    background-color: #fef7e9;
    border: 1px solid #af7b1c;
    width: max-content;
}

.cod-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    position: relative;
}

.con {
    margin: 0;
    padding: 0;

}

.error {

    position: absolute;
    bottom: -25px;
    left: 330px;
    color: red;
    display: none;
}


.cona {
    margin: 0;
    padding: 0;
}

.cod-container,
.upi-container {
    display: none;
}


footer {
    background-color: #ffffff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 200px;
}

.footer-section h4 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: rgb(255, 255, 255);
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: transparent;
    margin-right: 50px;
}

.footer-section input {
    border: none;
}

.footer-section button {
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.footer-section button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.p-s-main {
    transition: all 2s ease-in-out;
}

.pay-success-main {
    width: 619px;
    height: 526px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.165);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}

.p-s-main {
    display: none;
}

.pay-s-head {
    text-align: center;
    padding: 0 40px;
}

.pay-s-head h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.pay-s-head p {
    font-size: 14px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.379);
}

.pay-s-price {
    text-align: center;
    margin-top: 24px;
}

.pay-s-price p {
    font-size: 14;
    margin-bottom: 6px;
}

.pay-s-price h1 {
    font-size: 24;
    margin-bottom: 24px;
}

.pay-s {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-s-details {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.pay-s-1,
.pay-s-2 {
    width: 178px;
    height: 62px;
    border-radius: 6px;
    border: 1px solid #EDEDED;
    padding-left: 20px;
    padding-top: 10px;
}

.p1 {
    font-size: 12px;
    color: #707070;
    margin-bottom: 4px;
}

.p2 {
    font-size: 13px;
    color: #121212;
    font-weight: 500;
}

.pay-s-button button {
    width: 245px;
    height: 44px;
    border-radius: 8px;
    margin-top: 52px;

}

.bt-1 {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.412);
    margin-right: 20px;
}

.bt-2 {
    background-color: #32C770;
    color: white;
    border: none;
}

.white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: white;
}

.container {
    --uib-size: 40px;
    --uib-color: black;
    --uib-speed: 1.5s;
    --dot-size: calc(var(--uib-size) * 0.17);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: smoothRotate calc(var(--uib-speed) * 1.8) linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation: rotate var(--uib-speed) ease-in-out infinite;
}

.dot::before {
    content: '';
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 50%;
    background-color: var(--uib-color);
    transition: background-color 0.3s ease;
}

.dot:nth-child(2),
.dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.835 * 0.5);
}

.dot:nth-child(3),
.dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.668 * 0.5);
}

.dot:nth-child(4),
.dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.501 * 0.5);
}

.dot:nth-child(5),
.dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.334 * 0.5);
}

.dot:nth-child(6),
.dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.167 * 0.5);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    65%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes smoothRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:767px) {

    .center-nav,
    .search-nav {
        display: none;
    }

    .card {
        display: none;
    }

    .delivery-main,
    .pay {
        display: flex;
        flex-direction: column;
    }

    .pay {
        padding: 0 20px;
        padding-bottom: 60px;
    }

    .payment-main {
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
    }

    .btn {
        width: fit-content;
        text-wrap: nowrap;
        font-size: 10px;


    }

    .pay-type {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .card-main {
        margin-bottom: 40px;
    }

    .upi-container {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        padding-bottom: 60px;
    }

    #upi {
        margin: 0;
    }

    .Holder-input {
        width: 100%;
    }

    .pay-btn {
        width: 100%;
    }

    .cod-mini {
        padding: 0 25px;
    }

    .extra {
        width: 100%;
    }

    .cod-bottom {
        display: flex;
        flex-direction: column;
    }

    .con {
        width: 100%;
    }

    .card-details input {
        width: 100%;
    }

    .card-details {
        padding: 20px 0;
    }

    .exp {
        gap: 5px;
    }

    .delivery-main {
        padding: 0 25px;
    }
}